
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master/_LayoutMasterPage.cshtml";
}

<center>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <h1>Welcome To Our Events Managing Services</h1>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</center>

